<h1>{{tite}}</h1>
<h1>kjkjkjkkj</h1>
<h3>inception json</h3>
=========
<h3>inception json=======</h3>

<input type="text" name="title" ng-model="title"></input>

<button type="button" ng-click="testf(title)">find</button>

<h1>{{dat1}}</h1>
<h1>{{dat1.Title }}</h1>
<h1>{{dat1.Year }}</h1>
<h1>{{dat1.Genre }}</h1>
<h1>{{dat1.Plot }}</h1>
<h1>{{dat1.Language }}</h1>
<img src="{{dat1.Poster}}">

<h1> {{stars[2].bio}}</h1>
<div>
<h1>{{artists.Plot}}</h1>
<!--
<h3> {{art.name}}</h3>
<h3> {{art.bio}}</h3>
<h2> {{art.shortname}}</h2>
<h3> {{art.reknown}}</h3>
-->
</div>
===============================